DB_HOST=diptodatabase.cn2ems8y2mfe.ap-southeast-2.rds.amazonaws.com
DB_PORT=1433
DB_USERNAME=your_student_id
DB_PASSWORD=your_password
DB_DATABASE=your_database_name
JWT_SECRET=vv-super-secret-key-change-in-production
PORT=5000
